{% extends "_layout_login.twig" %}

{% set menuSlug = "404" %}
{% set pageTitle = "Not Found" %}

{% block main %}
<div class="login-box">
<h3>404 Not Found</h3>
<p>Please try again or use another page</p>
</div>
{% endblock %}
