{% set cacheVersion = "0.16" %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/base.min.css?v={{cacheVersion}}">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

        <link rel="icon" type="image/png" href="/assets/favicon.png">
        <title>CrazyFix Portal - {{pageTitle}}</title>
    </head>
    <body>
		{% block layout %}{% endblock %}

        <script src="/js/jquery.min.js"></script>
        <script src="/js/sweetalert.min.js"></script>
        <script src="/js/feather.min.js"></script>
        <script src="/js/scripts.js?v={{cacheVersion}}"></script>
        
    </body>
</html>
