{% extends "_base.twig" %}
{% block layout %}
<div class="structure">
	{% include 'includes/sidebar.twig' %}
	<main>
		{% block main %}{% endblock %}
		<div class="flyout-overlay"></div>
	</main>
</div>
{% endblock %}
