{% extends "_layout_dashboard.twig" %}

{% set menuSlug = "vehicles" %}
{% set pageTitle = "Vehicles" %}

{% block main %}
<section>
    <div class="container">
        <h1>Vehicles</h1>
    </div>
</section>
<section>
    <div class="container">
        <a href="#" class="button --primary --icon-left flyout-vehicle_new">Add Vehicle<i data-feather="plus-circle"></i></a>
    </div>
</section>
<section>
    <div class="container">
    {% if vehicles %}
        <div class="table --vehicles">
            <div class="header">
                <span>Make &amp; Model</span>
                <span>Registration</span>
            </div>
            <div class="body">
            {% for vehicle in vehicles %}
            <a class="row" href="#">
                <span>{{vehicle.make}} {{vehicle.model}}</span>
                <span>{{vehicle.registration}}</span>
            </a>
            {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="index-empty">
            <span>Nothing to see here...</span>
        </div>
    {% endif %}
    </div>
</section>
{% include 'flyouts/vehicle_new.twig' %}
{% endblock %}